#nav-bar{
    background: #72642E;
}

#carouselExampleControls img{
    height: 92vh;
    width: 100vw;
}

footer{
    background: #4099FF;
}

#social_icon_footer {
    text-align: center;
    padding: 14px 0;
  }
  #social_icon_footer .social:hover {
    transform: scale(1.1);
  }
  
  #social_icon_footer .social {
    transform: scale(0.8);
    transition-duration: 0.5s;
  }
  #social_icon_footer a {
    color: #333;
  }
  #social_icon_footer #social-fb:hover {
    color: #3B5998;
  }
  #social_icon_footer #social-tw:hover {
    color: #4099FF;
  }
  #social_icon_footer #social-gp:hover {
    color: #d34836;
  }
  #social_icon_footer #social-em:hover {
    color: #f39c12;
  }
